html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}
.navbar {
    background-color: #3b5998;
    color: white;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 45px;
}
.nav {
    display: flex;
    height: 20px;
    margin-bottom: 4px;
}
.nav a {
    color: black;
    text-decoration: none;
    padding: 2px 0;
    font-size: 11px;
    position: relative;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 80px;
}
.nav a:not(:last-child) {
    transform: skew(-20deg);
    margin-right: -10px;
}
.nav a:not(:last-child) span {
    display: inline-block;
    transform: skew(20deg);
}
.nav a:nth-child(1) {
    background-color: #d4d4d4;
    z-index: 3;
}
.nav a:nth-child(2) {
    background-color: #e4e4e4;
    z-index: 2;
}
.nav a:last-child {
    background-color: #f4f4f4;
    z-index: 1;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.container {
    flex-grow: 1;
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
}
.sidebar {
    width: 150px;
    padding-right: 14px;
    padding-top: 20px;
    text-align: right;
    border-right: 1px solid #ccc;
}
.sidebar h3 {
    margin-top: 0;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
    color: #666;
    font-size: 12px;
}
.sidebar li {
    margin-bottom: 5px;
}
.sidebar a {
    text-decoration: none;
    color: #666;
}
.main-content {
    flex-grow: 1;
    padding: 20px 0 20px 15px;
}
.post-area {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
}
.post-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}
.post-body {
    margin-bottom: 10px;
    font-size: 12px;
}
.post-button {
    background-color: #3b5998;
    color: white;
    border: none;
    padding: 3px 8px;
    cursor: pointer;
    font-size: 12px;
    float: right;
}
.about-title {
    font-size: 30px;
    color: #333;
    text-align: center;
    margin-left: 150px;
    margin-top: 40px;
}

.credits-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 40px;
    margin-left: 150px;
}

.credit-column {
    padding: 20px;
    border-radius: 4px;
    width: 200px; 
    text-align: center;
}

.credit-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}